name: Default

env:
  GO_VERSION: ^1.25

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: false
        id: go

    - name: Build
      run: make build

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false # avoid cache thrashing
        id: go

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --out-format=colored-line-number --timeout 3m
